<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestLogin">
    <listeners>
        <listener class-name="com.automation.listeners.AllureListener"/>
    </listeners>
    <test name="LoginValidation">
        <classes>
            <class name="com.automation.tests.LoginTest"/>
        </classes>
    </test>
</suite>